azure_data_factory_data_ingetion_pipeline/data-ingetion-pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"mySqlFiles":{"type":"string"},"SQLToADLSLinkedService":{"type":"string"},"JSONFromGithubForLoop":{"type":"string"},"HttpGithubLinkedService":{"type":"string"},"AzureDataLakeStorageForCSV":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/data-ingetion-pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"LookupForEachInput","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupForEachInput').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"CopyInsideForEach","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataFromGithub","type":"DatasetReference","parameters":{"csv_relative_url":{"value":"@item().csv_relative_url","type":"Expression"}}}],"outputs":[{"referenceName":"csvFromLinkedServiceToSink","type":"DatasetReference","parameters":{"filename":{"value":"@item().file_name","type":"Expression"}}}]}]}},{"name":"dataFromMySQL","type":"Copy","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"MySqlSource"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"MySqlTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"SQLToADLS","type":"DatasetReference","parameters":{}}]},{"name":"LookupForEachInput","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"JsonData","type":"DatasetReference","parameters":{}},"firstRowOnly":false}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-01-02T05:06:09Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/MySqlTable')]","[concat(variables('factoryId'), '/datasets/SQLToADLS')]","[concat(variables('factoryId'), '/datasets/JsonData')]","[concat(variables('factoryId'), '/datasets/DataFromGithub')]","[concat(variables('factoryId'), '/datasets/csvFromLinkedServiceToSink')]"]},{"name":"[concat(parameters('factoryName'), '/MySqlTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('mySqlFiles')]","type":"LinkedServiceReference"},"annotations":[],"type":"MySqlTable","schema":[],"typeProperties":{"tableName":"`olist_order_payments`"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SQLToADLS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SQLToADLSLinkedService')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"olist_order_payments_dataset.csv","folderPath":"bronze","fileSystem":"ecommdata"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/JsonData')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('JSONFromGithubForLoop')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"BigDataProjects/refs/heads/main/Project-Brazillian%20Ecommerce/ForEachInput.json"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DataFromGithub')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpGithubLinkedService')]","type":"LinkedServiceReference"},"parameters":{"csv_relative_url":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@dataset().csv_relative_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/csvFromLinkedServiceToSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorageForCSV')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"bronze","fileSystem":"ecommdata"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}